body{
    background-color: black;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Styles pour la barre de mana */
.mana-bar-container {
    position: relative;
    width: 300px;
    height: 40px;
    margin: 20px 0;
    border: 2px solid #666666;
    border-radius: 5px;
    overflow: hidden; /* Pour que ça dépasse pas */
    background-color: #333333; 
}

.mana-bar-fill {
    position: absolute;
    top: 0;
    right: 0; 
    height: 100%;  
    background-color: #333333; 
    width: 0%; 
}

.mana-bar-background {
    width: 100%; 
    height: 100%;
    background: linear-gradient(90deg,rgba(222, 35, 35, 1) 0%, rgba(208, 212, 91, 1) 50%, rgba(34, 255, 0, 1) 100%); 
    position: relative;
}

.mana-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    font-size: 14px;
}
